{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<style>
    .input-container-housing {
        display: flex;
        position: fixed;
        background-color: white;
        bottom:0;
        left: 0;
        right: 0;
        max-width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        z-index: 1000;
    }

    .input-container {
        border: 1px solid #08281d;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .input-container textarea {
        border: 0;
        width: 100%;
        resize: none;
        display: flex;
    }

    @media (min-width: 1080px) {
        .input-container,
         .all-messages-container {
            width: 40%;
        }
    }

    ul {
        list-style: none;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    li {
        word-wrap: break-word;
        overflow: break-word;
        max-width: 100%;
    }

    p {
        padding: 0;
        margin: 0;
    }

    ul .llm-container {
        border: 1px solid black;
        border-radius: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: white;
        padding: 1rem;
    }

    .incoming-container,
    .outgoing-container {
        box-shadow: 0.1rem 0.1rem 0.1rem #e8d0d0;
        border-radius: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
    }

    .incoming-container {
        border: 0.15rem solid #e8d0d0;
    }

    .incoming-container .icon-container {
        width: 3rem;
        padding: 0.2rem;
        border: 1px solid #e2c4c4;
        margin-left: auto;
    }

    .outgoing-container {
        border: 0.15rem solid #79bbfa;
    }

    .action-toolbar {
        display: flex;
        justify-content: flex-end; /* Align items to the right */
        align-items: center; /* Align items vertically */
        gap: 0.5rem; /* Space between buttons */
        margin-top: 0.5rem; /* Optional: Add margin above the buttons */
        width: 100%; /* Ensure the toolbar takes up the full width */
    }

    .action {
        display: flex;
        align-items: center;
        padding: 0.2rem;
        border: 0.1rem solid #e2c4c4;
        border-radius: 0.5rem;
    }

    .action:hover {
        cursor: pointer;
    }

    .action i,
    .action span {
        font-size: 0.75rem;
    }

    .action i {
        margin-right: 0.25rem;
        color: black;
    }

    .icon-container {
        padding: 0.5rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-container:hover {
        filter: brightness(90%);
        cursor: pointer;
    }

    .icon-container i,
    .icon-container span {
        font-size: 0.75rem;
    }

    .icon-container i {
        margin-right: 0.1rem;
    }

    .icon-container span {
    }

    .cancel-edit-btn {
        display: none;
    }

    .edit-button-container {
        border: 1px solid black;
        margin: 0;
    }

    .fa-pencil {
        color: black;
    }
</style>

<main role="main">
    <!-- All Messages -->
    <div class="container all-messages-container mt-5 mb-15">
        <ul id="all-messages">
            <li>
                <div class="container incoming-container">
                    <p>***What;s the average price of a home in stratford***</p>
                    <div class="action-toolbar">
                        <div class="action cancel-edit-btn">
                            <i class="fa-solid fa-x"></i>
                            <span>Cancel</span>
                        </div>
                        <div class="edit-prompt-btn action">
                            <i class="fa-solid fa-pencil"></i>
                            <span>Edit</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="container outgoing-container">
                    <p>the average price of a home in stratford is £500,000</p>
                </div>
            </li>
        </ul>
    </div>


    <div id="loading-wheel" class="loading-screen" style="display: none;">
        <div class="loader"></div>
    </div>

    <style>
        .user-input-textarea {
            border: 1px solid black;
            resize: both;
            box-sizing: border-box;
            outline: black;
            max-height: 300px; /* Set the maximum height */
            min-height: 2rem; /* Set a minimum height for better usability */
            width: 100%;/* Make the textarea full width */
        }

        .user-input-textarea:focus {
            outline: black;
        }
    </style>
    <!--Input prompt container-->
    <div class="container input-container-housing">
        <div class="container input-container">
            <textarea class="user-input-textarea" id="user-textarea" placeholder="Enter message"></textarea>
            <div class="icon-container" style="background-color: #79bbfa; width: 2rem; height: 2rem;">
                <i id="prompt-submit" class="fa-solid fa-arrow-up" style="color: white; font-size: 1rem; margin: 0;"></i>
            </div>
        </div>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const textArea = document.getElementById("user-textarea");
        const promptSubmit = document.getElementById("prompt-submit");
        const loadingWheel = document.getElementById("loading-wheel");
        const messageContainer = document.querySelector('.all-messages-container ul');

        /*
            Auto expand textarea height for user input textarea
        */
        function adjustHeight() {
            textArea.style.height = 'auto';
            const newHeight = Math.min(textArea.scrollHeight, 300); // 300px is the max height
            textArea.style.height = `${newHeight}px`;

            // Enable or disable scrolling based on content height
            textArea.style.overflowY = textArea.scrollHeight > 300 ? 'auto' : 'hidden';
        }
        // Initial adjustment
        adjustHeight();
        textArea.addEventListener('input', adjustHeight);
        // Adjust on window resize
        window.addEventListener('resize', adjustHeight);


        /*
            --------------------------------
            Functions relating to the cards
            --------------------------------
        */
        // Adding Outgoing Card
        function makeEditable(button) {
            container = button.parentElement.parentElement;
            button.addEventListener('click', function editHandler(){
                //container = button.parentElement.parentElement;
                const originalP = container.querySelector('p');
                const originalPrompt = originalP.textContent;
                const originalSpan = container.querySelector('.action-toolbar .edit-prompt-btn span');

                const newTextArea = document.createElement('textarea');
                newTextArea.value = originalPrompt;
                newTextArea.style.width = '100%';
                newTextArea.className = 'textarea';

                originalP.replaceWith(newTextArea);
                originalSpan.textContent = 'Save';

                this.removeEventListener('click', editHandler);

                this.addEventListener('click', async function saveHandler(){
                    originalP.textContent = newTextArea.value;
                    newTextArea.replaceWith(originalP);

                    originalSpan.textContent = 'Edit';

                    // Removing all the cards that came after this card, discarding
                    // visual trace of chat history
                    let nextElement = container.parentElement.nextElementSibling;
                    while(nextElement) {
                        nextElement.remove();
                        nextElement = container.parentElement.nextElementSibling;
                    }

                    loadingWheel.style.display = 'flex';
                    await addOutgoing(newTextArea.value);
                    this.removeEventListener('click', saveHandler);
                    console.log("This:", this);
                });
            });
        }

        async function addOutgoing(prompt) {
            if (prompt.trim()) {
                loadingWheel.style.display = 'flex';

                const rsp = await getPromptResponse(prompt);

                const li = document.createElement('li');
                const div = document.createElement('div');
                div.className = 'container outgoing-container';
                const p = document.createElement('p');
                p.textContent = rsp;

                div.appendChild(p);
                li.appendChild(div);
                const ul = document.querySelector('.all-messages-container ul');

                loadingWheel.style.display = 'none';

                ul.appendChild(li);
            }
        }

        // Adding Incoming Card
        function addIncoming(prompt) {
            const li = document.createElement('li');
            const div = document.createElement('div');
            div.className = 'container incoming-container';

            const p = document.createElement('p');
            p.textContent = prompt;

            const actionToolbar = document.createElement('div');
            actionToolbar.className = 'action-toolbar';

            // creating the action buttons
            const actionCancel = document.createElement('div');
            const actionEdit = document.createElement('div');
            actionCancel.className = 'action cancel-edit-btn';
            actionEdit.className = 'edit-prompt-btn action';

            const cancelIcon = document.createElement('i');
            const editIcon = document.createElement('i');
            cancelIcon.className = 'fa-solid fa-x';
            editIcon.className = 'fa-solid fa-pencil';

            const cancelSpan = document.createElement('span');
            const editSpan = document.createElement('span');
            cancelSpan.textContent = 'Cancel';
            editSpan.textContent = 'Edit';

            // Putting all the elements together
            actionEdit.appendChild(editIcon);
            actionEdit.appendChild(editSpan);
            actionCancel.appendChild(cancelIcon);
            actionCancel.appendChild(cancelSpan);

            actionToolbar.appendChild(actionCancel);
            actionToolbar.appendChild(actionEdit);

            div.appendChild(p);
            div.appendChild(actionToolbar);

            li.appendChild(div);
            const ul = document.querySelector('.all-messages-container ul');
            ul.appendChild(li);
            makeEditable(actionEdit);
        }

        async function getPromptResponse(prompt) {
            console.log("This is the prompt I got: ", prompt);
            try {
                const rsp = await fetch("http://127.0.0.1:80/get-response", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ message: prompt })
                });

                if (!rsp.ok) {
                    throw new Error();
                }

                const data = await rsp.json();
                return data.response;

            } catch(error) {
                return "Sorry, it seems something went wrong";
            }
        }

        /*
            -------------------------------------------
            Functions for the user input container
            -------------------------------------------
        */
        textArea.addEventListener("keypress", function(e) {
            if (e.key === "Enter" && !e.shiftKey && textArea.value.trim()) {
                addIncoming(textArea.value);
                loadingWheel.style.display = "flex";
                promptSubmit.click();
            }
        });

        promptSubmit.addEventListener("click", async function(e) {
            e.preventDefault();

            let userPrompt = textArea.value.trim();
            textArea.value = '';

            await addOutgoing(userPrompt);
        });
    });
</script>
{% endblock %}