{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
    .header-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: rgba(0,0,0,0);
    }

    .header-buttons a.btn {
        margin-right: 1rem;
    }

    .landing-container,
    .page-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .landing-container {
        height: 75vh;
        width: 100%;
        max-width: 100%;
    }


    .landing-section {
        min-height: 70vh;
        width: 100%;
        position: relative;
        background-image: url('static/images/pexels-naimbic-2030037.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }

    .landing-section::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1; /* Place the tint behind the content */
    }

    .landing-jumbotron {
        color: white;
        text-align: center;
    }

    .landing-container
    .span-container span {
        color: #fdfceb;
    }

    .span-container {
        width: 50%;
        text-align: center;
        font-size: 1rem;
    }

    .span-container span {
        color: grey;
    }

    .landing-jumbotron .span-container span {
        color: grey;
    }

    .landing-jumbotron h1 {
        font-size: 3rem;
    }

    .btn-primary:hover {
        cursor: pointer;
    }

    .btn-sixth {
        color: black;
        background-color: white;
        border: 1px solid black;
        display: flex;
        align-items: center;
        padding: 0.5rem;
    }

    .btn-sixth:hover {
        background-color: white;
        cursor: pointer;
        border: 1px solid black;
        box-shadow: 1px 1px !important;
    }

    .btn-sixth:active {
        border: none;
    }

    .btn-tertiary {
        color: white;
        background-color: #1F3A93;
        display: flex;
        padding: 0.5rem;
        align-items: center;
    }

    .btn-tertiary:hover {
        color: white;
        background-color: #1F3A93;
        box-shadow: 1px 1px black !important;
    }

    .btn-tertiary:active {
        color: white !important;
        background-color: #1F3A93 !important;
    }

    .btn-quaternary {
        border: 1px solid #c7c7ca;
        background-color: #ced4da;
    }

    .action-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        /*justify-content: space-evenly;*/
        margin-top: 1rem;

    }

    .demo-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .demo-container iframe{
        width: 50%;
        border-radius: 0.5rem;
    }

    @media (min-width: 600px) {
        .demo-container video {
            width: 90%;
        }
    }

    .container.contact-sales-card {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: rgba(0,0,0,0.2);
        height: 100vh;
        width: 100%;
        max-width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
    }

    .nav {
        background-color: transparent;
    }

    .modal-open {
        overflow: hidden;
    }

    .contact-sales-card .card {
        width: 50%;
    }

    .footer {
        width: 100%;
    }
</style>

<!--Landing Screen-->
<section class="landing-section">
    <nav class="" style="background-color: transparent;">
        <div class="header-buttons p-1">
<!--            <a href="/login" class="btn" style="color: white;">Login</a>-->
            <button id="contact-sales-btn" class="btn btn-quaternary">Contact Sales</button>
            <button class="btn"></button>
        </div>
    </nav>
    <div class="container landing-container page-container">
        <div class="jumbotron landing-jumbotron">
            <h1>Real Time Market Insights</h1>
        </div>
        <div class="span-container">
            <span>Make your team more productive</span>
            <div class="action-parent" style="display: flex; justify-content: center;">
                <div class="action-container">
                    <button style="margin-right: 1rem;" class="btn btn-tertiary">Contact Sales</button>
                    <button class="btn btn-sixth">Try For Free</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Product Section-->
<section class="mt-5">
    <div class="container page-container">
        <div class="jumbotron landing-jumbotron" style="color: black;">
            <h1>Product</h1>
        </div>
        <div class="span-container">
            <span>Automate your property research for residential markets</span>
        </div>
        <div class="container demo-container mt-5">
            <iframe src="https://www.youtube.com/embed/-j_5AqMjno8"></iframe>
        </div>
    </div>
</section>

<!--Contact Sales Card-->
<div id="contactSalesCard" class="container contact-sales-card" style="display: none;">
    <div class="card shadow p-4 mb-4 bg-white">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Contact Sales</h2>
            <button type="button" id="contact-sales-close-btn" class="btn btn-secondary btn-sm" aria-label="Close">
                Close
                <span class="ms-2">
                    <svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.2998 1.2002 1.70014 7.79986M1.7002 1.2002l6.59966 6.59966" stroke="currentcolor" stroke-width="1.4" stroke-linecap="square" stroke-linejoin="round"></path>
                    </svg>
                </span>
            </button>
        </div>

        <p>Tell us about your firm or company and our team will reach out to set up a call.</p>
        <p class="text-muted">Required <span>*</span></p>

        <form action="/contact-sales" method="post" id="contactSalesForm">
            {{ form.csrf_token }}
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name" name="fname">
                </div>
                <div class="col-md-6">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="sname">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="email" placeholder="Email" required name="email">
                </div>
                <div class="col-md-6">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="tel" class="form-control" id="phone" placeholder="Phone" maxlength="25" name="phone">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="website" class="form-label">Company site</label>
                    <input type="text" class="form-control" id="website" placeholder="Company Website" name="company_link">
                </div>
                <div class="col-md-6">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Title" name="title">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="firmLawyersNumber" class="form-label">Number of Employers at your Firm</label>
                    <input type="number" class="form-control" id="firmLawyersNumber" placeholder="Number of Employees" min="0" max="999999999" name="no_employees">
                </div>
            </div>

            <span id="errorMessage" style="display: none;">Something went wrong</span>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary" id="contactSalesSubmitBtn" aria-label="Submit Form" >
                    Submit Form
                    <span class="ms-2">
                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.33301 8.5h9.33329M8 3.83325l4.6667 4.66667L8 13.1666" stroke="currentColor" stroke-width="1.4" stroke-linejoin="bevel"></path>
                        </svg>
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>

<footer class="footer row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <p class="text-body-secondary">© 2024</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>
  </footer>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        const contactSalesOpenBtn = document.getElementById('contact-sales-btn');
        const contactSalesCloseBtn = document.getElementById('contact-sales-close-btn');
        const contactSalesCard = document.getElementById('contactSalesCard');
        const contactSalesSubmitBtn = document.getElementById('contactSalesSubmitBtn');
        const contactSalesForm = document.getElementById('contactSalesForm');

        /*
           -------------------------
                Contact Sales Code
            ------------------------
        */
        contactSalesOpenBtn.addEventListener('click', function(e){
            const span = document.getElementById('errorMessage');
            span.style.display = 'none';
            contactSalesCard.style.display = 'flex';
            document.body.classList.add('modal-open');
        });

        contactSalesCloseBtn.addEventListener('click', function(){
            contactSalesCard.style.display = 'none';
            document.body.classList.remove('modal-open');
        });

        contactSalesForm.onsubmit = async (e) => {
            e.preventDefault();

            const span = document.getElementById('errorMessage');
            const formData = new FormData(contactSalesForm);

            const formDataObject = {};
            for (let [key, val] of formData.entries()){
                if (val.trim() && key != 'csrf_token') {
                    formDataObject[key] = val.trim();
                }
            }

            console.log(formDataObject);

            try {
                let rsp = await fetch('/contact-sales', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    //body: JSON.stringify(formData)
                    body: JSON.stringify(formDataObject)
                });

                const data = await rsp.json();

                if (data.status != 200) {
                    throw new Error(data.message);
                }

                span.textContent = data.message;
                span.style.display = 'flex';
            } catch (error) {
                span.textContent = error;
                span.style.display = 'flex';
            } finally {
                contactSalesForm.reset();
            }
        };

        /*
            ------------------------
                Styling functions
            ------------------------
        const btnSecondary = document.querySelectorAll('.btn-secondary');
        btnSecondary.forEach(button => {
            button.addEventListener('mousedown', function(){
                button.style.backgroundColor = '#ffffff';
            });
        });
        */
    });
</script>
{% endblock %}