{% extends "base.html" %}

{% block title %}Pricing{% endblock %}

{% block content %}
<style>

    /* Call to action styling */
    .cta-container {
        text-align: center;
    }

    .cta-container span {
        color: #5a625b;
    }

    /* Pricing Card Related */
     .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     }

    .promo-card {
        box-shadow: 0 1px 2px rgba(217, 153, 79, 0.55);
        border: 1px solid rgba(217, 153, 79, 0..1);
    }

    .promo-card:hover {
        border: 1px solid rgba(217, 153, 79, 0.55);
        box-shadow: 0 6px 12px rgba(217, 153, 79, 0.55);
    }

    .pricing-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .pricing-card-title {
        /*text-align: center;*/
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .price {
        font-size: 2rem;
    }

    .pricing-period {
        color: #5a625b;
        margin-top: auto;
    }
</style>

<!--<section class="mb-5" style="display: flex; justify-content: center; align-items: center; height: 60vh;">-->
<!--    <h1>Choose the plan that fits your needs</h1>-->
<!--</section>-->

<!--Pricing Cards-->
<section style="max-width: 100vw; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div class="cta-container" style="margin-bottom: 7rem;">
        <h1 style="margin-bottom: 1rem;">Choose the plan that fits your needs</h1>
        <span>Unlock the power of AI and automate your workflow</span>
    </div>

    <div class="container pricing-container row" style="top: 0;">
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-title pricing-card-title">
                    <div class="pricing-card-title-inner">
                        <span class="price">£15</span>
                        <span class="pricing-period">per month</span>
                    </div>
                </div>
                <div class="card-body">
                    <ul>
                        <li><p>Unlimited Projects</p></li>
                        <li><p>Share with team members</p></li>
                        <li><p>20GB Storage</p></li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button class="btn">Join Now</button>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-3">
            <div class="card promo-card">
                <div class="card-title pricing-card-title">
                    <h2>Free</h2>
                </div>
                <div class="card-body">
                    <ul>
                        <li><p>Unlimited Projects</p></li>
                        <li><p>Share with team members</p></li>
                        <li><p>20GB Storage</p></li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button class="btn">Try For Free</button>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-title pricing-card-title">
                    <div class="pricing-card-title-inner">
                        <span class="price">£50</span>
                        <span class="pricing-period">per month</span>
                    </div>
                </div>
                <div class="card-body">
                    <ul>
                        <li><p>Unlimited Projects</p></li>
                        <li><p>Share with team members</p></li>
                        <li><p>20GB Storage</p></li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button class="btn">Join Now</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}